astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
blinker==1.4
brotlipy==0.7.0
certifi==2020.12.5
cv==1.0.0
gast==0.3.3

itsdangerous==1.1.0
Keras==2.3.1
opensource==1.0.2
opt-einsum==3.1.0
protobuf==3.14.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyJWT==1.7.1
pyreadline==2.1
PyYAML==5.4.1
wincertstore==0.2
wrapt==1.12.1
Flask==1.1.2
gunicorn==19.9.0
numpy==1.20.1
opencv-python==4.5.1.48
Werkzeug==1.0.1
